<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <header class="single-header">
            {#{{ dump(data) }}#}
            {#{{ dump(settings) }}#}

            <h2 class="text-center post__title typescale-5"><a href="#">Our works</a></h2>
        </header>
    </div>
    <div class="fotorama mnmd-gallery-slider mnmd-post-media-wide" itemscope
         itemtype="http://schema.org/ImageGallery" data-width="100%" data-nav="thumbs"
         data-allowfullscreen="true" data-click="false">
        {% for setting in settings %}
            {{ render(controller('AppBundle:Rest/ParentRest:getGallery', {'objectClass':setting.toClassName, 'objectId':setting.toId, 'toClassType':setting.toClassType})) }}
        {% endfor %}
    </div>
</div>

<div class="thumbnail-wrap">
    <div class="post-gallery">
        {% for setting in settings %}
            {{ render(controller('AppBundle:Rest/ParentRest:getGallery', {'objectClass':setting.toClassName, 'objectId':setting.toId, 'toClassType':setting.toClassType})) }}
        {% endfor %}
        {#<img src="img/p2.jpg" alt="">
        <img src="img/p3.jpg" alt="">
        <img src="img/post1.jpg" alt="">
    </div>#}
</div>