
#logo-mobile {
    display: none;
}

h3.card-header {
    color: #f25d4f!important;
}

.navbar-custom a#logo-mobile {
    color: #ffffff;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.navbar-custom a#logo-mobile span {
    color: #f25d4f;
}
.navbar-custom a#logo-mobile:hover,
.navbar-custom a#logo-mobile:focus {
    text-decoration: underline;
}
.navbar-custom a#logo-mobile:hover span,
.navbar-custom a#logo-mobile:focus span {
    text-decoration: underline;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #logo-mobile {
        display: block;
    }
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 15px;
        line-height: 20px;
    }
    #logo {
        display: none;
    }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
        #logo-mobile {
            display: block;
        }
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 15px;
        line-height: 20px;
    }
        #logo {
            display: none;
        }
    }
@media only screen and (min-width: 768px) and (max-width: 992px) {

    #logo-mobile {
        display: block;
    }
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 15px;
        line-height: 20px;
    }
    #logo {
        display: none;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {

    #logo-mobile {
        display: block;
        font-size: 15px;
    }
    .navbar-brand {
        float: left;
        height: 50px;
        padding: 15px 15px;
        font-size: 15px;
        line-height: 20px;
    }
    #logo {
        display: none;
    }
}

#tocall {
    display: inline;
    position: fixed;
    bottom: 6%;
    right: 1.5%;
    z-index: 9999;
    background: transparent;
    border: 2px solid #f25d4f;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    height: 50px;
    width: 50px;
    text-align: center;
}

#tocall i{
    color: #f25d4f;
    line-height: 43px;
    font-size: 33px;
}

#tocall:hover {
    color: #ffffff;
    background-color: #f25d4f;
    border:  transparent ;
}
#tocall:hover i {
    color: #ffffff;
}
