body.dark-layout #uslughi .row.list-services .col-lg-4 {
    border-right-color: #353535;
    border-bottom-color: #353535;
    min-height: 430px;
}

.pricing-body > ul > li {
    min-height: 60px;
}
.image-gall{
    height: 245px;
    object-fit: cover;
}


@media (max-width: 480px) and (min-width: 320px) {
    .mbxxl > .col-lg-12 > .section-description {
    padding: 0 10% 0 !important;
    }

    .mobile-hide{
        display: none;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #F25D4F;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

#tocall {
    display: inline;
     position: fixed;
     bottom: 6%;
     right: 1.5%;
     z-index: 9999;
     background: transparent;
     border: 2px solid #f25d4f;
     -webkit-border-radius: 5px !important;
     -moz-border-radius: 5px !important;
     border-radius: 5px !important;
     height: 50px;
     width: 50px;
     text-align: center;
 }

#tocall i{
    color: #f25d4f;
    line-height: 43px;
    font-size: 33px;
}
#tocall:hover {
    color: #ffffff;
    background-color: #f25d4f;
    border:  transparent ;
}
#tocall:hover i {
    color: #ffffff;
}

