<section class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="slide-intro">
                        {{ dump(menu) }}
                        {{ dump(menu.title) }}
                        {% if menu %}
                            {% if menu.title %}
                                {% set words = menu.title |split(',') %}
                                {% endif %}
                        <h1>Вы любите<div id="rotate">{% for words in word  %}
                                    <div>
                                        {{ word }}
                                    </div>
                                {% endfor %}
                                </div></h1>
                        <p class="intro-text">{{ memu.description }}</p>
                        {% endif %}
                    </div>
                    <div class="section-next page-scroll"><a href="#o-nas" class="btn btn-circle"><i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>