<section id="raboti" class="section-content">
    <div class="container">
        <div class="row mbxxl">
            <div class="col-md-12">
                <h2 class="section-heading">Our <span>Portfolio</span></h2>
                <div class="line"></div>
                <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div id="filters">
                    <ul class="list-unstyled">
                        <li><a href="javascript:;" data-filter="*" class="active"><h3>All</h3></a>
                        </li>
                        <li><a href="javascript:;" data-filter=".web-design"><h3>Web Design</h3></a>
                        </li>
                        <li><a href="javascript:;" data-filter=".development"><h3>Development</h3></a>
                        </li>
                        <li><a href="javascript:;" data-filter=".design"><h3>Design</h3></a>
                        </li>
                        <li><a href="javascript:;" data-filter=".illustration"><h3>Illustration</h3></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="isotope">
        <ul id="gallery-full-width" class="list-unstyled">
            <li class="element-item web-design">
                <a href="http://swlabs.co/images/portfolio/portfolio1.jpg" data-lightbox="image-1" data-title="Image 1" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio1.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Web Design</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item development illustration">
                <a href="http://swlabs.co/images/portfolio/portfolio2.jpg" data-lightbox="image-2" data-title="Image 2" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio2.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Development, Illustration</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item web-design">
                <a href="http://swlabs.co/images/portfolio/portfolio3.jpg" data-lightbox="image-3" data-title="Image 3" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio3.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Web Design</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item web-design">
                <a href="http://swlabs.co/images/portfolio/portfolio4.jpg" data-lightbox="image-4" data-title="Image 4" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio4.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Web Design</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item design development">
                <a href="http://swlabs.co/images/portfolio/portfolio5.jpg" data-lightbox="image-5" data-title="Image 5" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio5.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Design, Development</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item web-design development">
                <a href="http://swlabs.co/images/portfolio/portfolio6.jpg" data-lightbox="image-6" data-title="Image 6" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio6.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Web Design, Development</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item design illustration">
                <a href="http://swlabs.co/images/portfolio/portfolio7.jpg" data-lightbox="image-7" data-title="Image 7" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio7.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Design, Illustration</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
            <li class="element-item illustration">
                <a href="http://swlabs.co/images/portfolio/portfolio8.jpg" data-lightbox="image-8" data-title="Image 8" class="gallery-image"><img src="http://swlabs.co/images/portfolio/portfolio8.jpg" alt="" class="img-responsive" />
                    <div class="gallery-overlay">
                        <div class="thumb-info">
                            <h3>Featured Image</h3>
                            <p class="gallery-tags">Illustration</p><i class="fa fa-picture-o"></i>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>